#background {
	  background-color: #d80027;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	  height: 100vh;
  	box-shadow: 0 0 76px rgba(0,0,0,0.9) inset;
}
/*#particle-js {
  width: 100%;
  height: 100vh;
  position: fixed;
}*/
/*canvas {
  display: block;
}*/

#score-board {
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 40px;
}
.answer-box {
	background-color: white;
	height: 60px;
	width: 300px;
	text-align: center;
	border-radius: 30px;
	font-weight: bold;
	font-size: 30px;
}
.answer-box:hover {
	position: relative;
	top: 3px;
}
#a{

}
#b {
	position: relative;
	margin-top:90px;
}
#c{
	position: relative;	
	float: right;
}
#d {
	position: relative;
	margin-top:90px;
	float: right;
}
#chord-ex {
	height: 400px;
}
#timer {
    width: 800px;
    height: 20px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
    right: 180px;
    background-color: white;
    animation-name: timer;
    animation-duration: 5s;
}
@keyframes timer {
    100% {width: 0px;}
}

#game-canvas {
	margin-top: 10px;
}
text {
	margin-top: 10px;
}

#nav-logo {
	top: 12px;
	position: absolute;
	height: 50px;
	width: auto;
	left: 44.5%;
}
.navbar-inverse {
    box-shadow: 0 0 26px rgba(0,0,0,0.7);	
}

#nav-title {
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 55px;
	top: 12px;
	position: absolute;
	width: auto;
	left: 43%;

}
#lbButton {
  position: relative;
  margin-right: 200px;
  margin-bottom: 40px;
  cursor: pointer;
  background: url(../images/leaderboards.png) 0 -9100px no-repeat;
  width: 700px;
  height: 700px;
  zoom: 8%;
  right: 100px;
 }
 #lbButton:hover{
    position: relative;
    width: 700px;
    height: 700px;
    right: 100px;
    zoom: 8%;
    animation: lbButton .4s steps(13);
    background: url(../images/leaderboards.png) 0 -9100px no-repeat;
    transition-duration: 5s;
  }
@keyframes lbButton {
  0% { 
    background-position: 0 0;
  }

  100% {
    background-position: 0 -9100;
  }
}
img {
  border-color: green;
}
#menuButton {
  position: relative;
  margin-top: 8px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  float: right;	
}
/*#lbButton:hover {
	position: relative;
	top: 2px;
}*/
#menuButton:hover {
	position: relative;
	top: 2px;
}
#menu {
	position: relative;
	right: 30px;
}
#username {
	position: relative;
	left: 60px;
	bottom: 35px;
	font-family: 'Pattaya', sans-serif;
	color: white;
	font-size: 25px;
	cursor: pointer;	
}
#profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-color: white;
    cursor: pointer;
}
#user {
	position: relative;
	left: 50px;
	top: 25px;
}

